In [208]:
import re
import numpy as np
import pandas as pd

In [209]:
filename = 'airbnb-listings-FR'
data = pd.read_csv(filename+'.csv', delimiter=';', decimal='.', low_memory=False)
COUNTRY_CODE = data['Country Code'][0]
COUNTRY_CODE

'FR'

In [210]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56562 entries, 0 to 56561
Data columns (total 89 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              56562 non-null  int64
 1   Listing Url                     56562 non-null  object
 2   Scrape ID                       56562 non-null  int64
 3   Last Scraped                    56562 non-null  object
 4   Name                            56559 non-null  object
 5   Summary                         54397 non-null  object
 6   Space                           39155 non-null  object
 7   Description                     56555 non-null  object
 8   Experiences Offered             56562 non-null  object
 9   Neighborhood Overview           33785 non-null  object
 10  Notes                           18012 non-null  object
 11  Transit                         36237 non-null  object
 12  Access                          28767 non-null  object
 13  Interaction                     27070 non-null  object
 14  House Rules                     30201 non-null  object
 15  Thumbnail Url                   37408 non-null  object
 16  Medium Url                      37408 non-null  object
 17  Picture Url                     0 non-null      float64
 18  XL Picture Url                  37408 non-null  object
 19  Host ID                         56562 non-null  int64
 20  Host URL                        56562 non-null  object
 21  Host Name                       56551 non-null  object
 22  Host Since                      56551 non-null  object
 23  Host Location                   56356 non-null  object
 24  Host About                      30823 non-null  object
 25  Host Response Time              37832 non-null  object
 26  Host Response Rate              37832 non-null  float64
 27  Host Acceptance Rate            24 non-null     object
 28  Host Thumbnail Url              56551 non-null  object
 29  Host Picture Url                56551 non-null  object
 30  Host Neighbourhood              49524 non-null  object
 31  Host Listings Count             56551 non-null  float64
 32  Host Total Listings Count       56551 non-null  float64
 33  Host Verifications              56499 non-null  object
 34  Street                          56562 non-null  object
 35  Neighbourhood                   48441 non-null  object
 36  Neighbourhood Cleansed          56562 non-null  object
 37  Neighbourhood Group Cleansed    0 non-null      float64
 38  City                            56532 non-null  object
 39  State                           56489 non-null  object
 40  Zipcode                         55821 non-null  object
 41  Market                          56444 non-null  object
 42  Smart Location                  56562 non-null  object
 43  Country Code                    56562 non-null  object
 44  Country                         56562 non-null  object
 45  Latitude                        56562 non-null  float64
 46  Longitude                       56562 non-null  float64
 47  Property Type                   56562 non-null  object
 48  Room Type                       56562 non-null  object
 49  Accommodates                    56562 non-null  int64
 50  Bathrooms                       56378 non-null  float64
 51  Bedrooms                        56428 non-null  float64
 52  Beds                            56487 non-null  float64
 53  Bed Type                        56562 non-null  object
 54  Amenities                       56134 non-null  object
 55  Square Feet                     2115 non-null   float64
 56  Price                           56505 non-null  float64
 57  Weekly Price                    16328 non-null  float64
 58  Monthly Price                   12348 non-null  float64
 59  Security Deposit                31127 non-null  float64
 60  Cleaning Fee                    35800 non-null  float64
 61  Guests Included                 56562 non-null  int64
 62  Extra People                    56562 non-null  int64
 63  Minimum Nights                  56562 non-null  int64
 64  Maximum Nights                  56562 non-null  int64
 65  Calendar Updated                56562 non-null  object
 66  Has Availability                0 non-null      float64
 67  Availability 30                 56562 non-null  int64
 68  Availability 60                 56562 non-null  int64
 69  Availability 90                 56562 non-null  int64
 70  Availability 365                56562 non-null  int64
 71  Calendar last Scraped           56562 non-null  object
 72  Number of Reviews               56562 non-null  int64
 73  First Review                    42376 non-null  object
 74  Last Review                     42378 non-null  object
 75  Review Scores Rating            41559 non-null  float64
 76  Review Scores Accuracy          41451 non-null  float64
 77  Review Scores Cleanliness       41478 non-null  float64
 78  Review Scores Checkin           41425 non-null  float64
 79  Review Scores Communication     41470 non-null  float64
 80  Review Scores Location          41436 non-null  float64
 81  Review Scores Value             41428 non-null  float64
 82  License                         2 non-null      object
 83  Jurisdiction Names              55544 non-null  object
 84  Cancellation Policy             56562 non-null  object
 85  Calculated host listings count  56562 non-null  int64
 86  Reviews per Month               42376 non-null  float64
 87  Geolocation                     56562 non-null  object
 88  Features                        56539 non-null  object
dtypes: float64(25), int64(14), object(50)
memory usage: 38.4+ MB

In [211]:
cols_to_drop = []

# Pick out columns with missing values more than half the size of the dataset
for col in data.columns:
    if data[col].isnull().sum() > len(data)/2:
        cols_to_drop.append(col)
        
# Drop all the columns that start with 'Host'
for col in data.columns:
    if col.startswith('Host'): cols_to_drop.append(col)
        
for x in ['Scrape ID', 'Last Scraped', 'Summary', 'Space', 'Description', 'Neighbourhood', 'Neighbourhood Group Cleansed', 'Neighborhood Overview']: cols_to_drop.append(x)
for x in ['Name', 'Listing Url', 'Transit', 'Access', 'Interaction', 'House Rules', 'Thumbnail Url', 'Medium Url', 'XL Picture Url']: cols_to_drop.append(x)
for x in ['Street', 'State', 'Zipcode', 'Market', 'Smart Location', 'Latitude', 'Longitude', 'Country', 'Beds', 'Bed Type']: cols_to_drop.append(x)
for x in ['Experiences Offered', 'Cleaning Fee', 'Guests Included', 'Extra People', 'Minimum Nights', 'Maximum Nights']: cols_to_drop.append(x)
for x in ['Calendar Updated', 'Calendar last Scraped', 'Number of Reviews', 'First Review', 'Last Review', 'Reviews per Month']: cols_to_drop.append(x)
for x in ['Review Scores Checkin', 'Jurisdiction Names', 'Cancellation Policy', 'Calculated host listings count']: cols_to_drop.append(x)
for x in ['Geolocation', 'Features']: cols_to_drop.append(x)
print(cols_to_drop, len(cols_to_drop))

['Notes', 'Interaction', 'Picture Url', 'Host Acceptance Rate', 'Neighbourhood Group Cleansed', 'Square Feet', 'Weekly Price', 'Monthly Price', 'Has Availability', 'License', 'Host ID', 'Host URL', 'Host Name', 'Host Since', 'Host Location', 'Host About', 'Host Response Time', 'Host Response Rate', 'Host Acceptance Rate', 'Host Thumbnail Url', 'Host Picture Url', 'Host Neighbourhood', 'Host Listings Count', 'Host Total Listings Count', 'Host Verifications', 'Scrape ID', 'Last Scraped', 'Summary', 'Space', 'Description', 'Neighbourhood', 'Neighbourhood Group Cleansed', 'Neighborhood Overview', 'Name', 'Listing Url', 'Transit', 'Access', 'Interaction', 'House Rules', 'Thumbnail Url', 'Medium Url', 'XL Picture Url', 'Street', 'State', 'Zipcode', 'Market', 'Smart Location', 'Latitude', 'Longitude', 'Country', 'Beds', 'Bed Type', 'Experiences Offered', 'Cleaning Fee', 'Guests Included', 'Extra People', 'Minimum Nights', 'Maximum Nights', 'Calendar Updated', 'Calendar last Scraped', 'Number of Reviews', 'First Review', 'Last Review', 'Reviews per Month', 'Review Scores Checkin', 'Jurisdiction Names', 'Cancellation Policy', 'Calculated host listings count', 'Geolocation', 'Features'] 70

In [212]:
data = data.drop(cols_to_drop, axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56562 entries, 0 to 56561
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           56562 non-null  int64
 1   Neighbourhood Cleansed       56562 non-null  object
 2   City                         56532 non-null  object
 3   Country Code                 56562 non-null  object
 4   Property Type                56562 non-null  object
 5   Room Type                    56562 non-null  object
 6   Accommodates                 56562 non-null  int64
 7   Bathrooms                    56378 non-null  float64
 8   Bedrooms                     56428 non-null  float64
 9   Amenities                    56134 non-null  object
 10  Price                        56505 non-null  float64
 11  Security Deposit             31127 non-null  float64
 12  Availability 30              56562 non-null  int64
 13  Availability 60              56562 non-null  int64
 14  Availability 90              56562 non-null  int64
 15  Availability 365             56562 non-null  int64
 16  Review Scores Rating         41559 non-null  float64
 17  Review Scores Accuracy       41451 non-null  float64
 18  Review Scores Cleanliness    41478 non-null  float64
 19  Review Scores Communication  41470 non-null  float64
 20  Review Scores Location       41436 non-null  float64
 21  Review Scores Value          41428 non-null  float64
dtypes: float64(10), int64(6), object(6)
memory usage: 9.5+ MB

In [213]:
data = data.dropna()

In [214]:
# Remove 'translation missing:' tags in the amentity column of the dataset
data['Amenities'] = data['Amenities'].str.replace(',translation missing: en.hosting_amenity_49', '')
data['Amenities'] = data['Amenities'].str.replace('translation missing: en.hosting_amenity_49,', '')
data['Amenities'] = data['Amenities'].str.replace(',translation missing: en.hosting_amenity_50', '')
data['Amenities'] = data['Amenities'].str.replace('translation missing: en.hosting_amenity_50,', '')

In [215]:
# If the neighbourhood cleansed column has a integer value, drop the record
def convert_num_nan(x):
    if x.isnumeric(): return np.nan
    return x

data['Neighbourhood Cleansed'] = data['Neighbourhood Cleansed'].apply(convert_num_nan)
data = data.dropna()

In [216]:
# Normalise city names (avoid duplicated names)
def normalise_cities(x: str):
    x = x.lower()
    if "," in x: x = x.split(",")[1].strip()
    pattern = re.compile(r'[^\u0000-\u007F0-9\s]')
    x = pattern.sub('', x)
    if x == COUNTRY_CODE.lower(): return None
    if x == '' or x.isspace(): return None
    if COUNTRY_CODE == 'FR' and 'paris' in x: return 'Paris'
    return " ".join(word.strip().capitalize() for word in x.split(' '))

data['City'] = data['City'].apply(normalise_cities)
data = data.dropna()

In [217]:
data['City'].unique()

array(['Paris', 'Montrouge', 'Boulogne-billancourt', 'Saint-mand',
       'Charenton-le-pont', 'Neuilly-sur-seine', 'Levallois-perret',
       'Le Pr-saint-gervais', 'Issy-les-moulineaux', 'Vincennes',
       'Aubervilliers', 'Issy Les Moulineaux', 'Le Kremlin-bictre',
       'Le-de-france', 'Nogent-sur-marne', 'Gaillard',
       'Rer D  Une Statio Du Chatelt', 'Malakoff', 'Deuil-la-barre',
       'Parigi', 'Saint-ouen', 'Saint-julien-en-genevois',
       'Collonges-sous-salve', 'Fontenay-sous-bois', 'Viry', 'Clichy',
       'Pars', 'Vanves', 'Pris', 'Les Lilas', 'Gentilly', 'Pantin',
       'Parijs', 'Neuilly Sur Seine', 'Joinville-le-pont',
       'Saint-maurice', 'Ivry-sur-seine', 'Montreuil', 'Saint-denis'],
      dtype=object)

In [218]:
if len(data) > 50000: data = data.sample(50000)
data.to_csv(filename + '-clean.csv', index=False)

In [219]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24653 entries, 0 to 56561
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           24653 non-null  int64
 1   Neighbourhood Cleansed       24653 non-null  object
 2   City                         24653 non-null  object
 3   Country Code                 24653 non-null  object
 4   Property Type                24653 non-null  object
 5   Room Type                    24653 non-null  object
 6   Accommodates                 24653 non-null  int64
 7   Bathrooms                    24653 non-null  float64
 8   Bedrooms                     24653 non-null  float64
 9   Amenities                    24653 non-null  object
 10  Price                        24653 non-null  float64
 11  Security Deposit             24653 non-null  float64
 12  Availability 30              24653 non-null  int64
 13  Availability 60              24653 non-null  int64
 14  Availability 90              24653 non-null  int64
 15  Availability 365             24653 non-null  int64
 16  Review Scores Rating         24653 non-null  float64
 17  Review Scores Accuracy       24653 non-null  float64
 18  Review Scores Cleanliness    24653 non-null  float64
 19  Review Scores Communication  24653 non-null  float64
 20  Review Scores Location       24653 non-null  float64
 21  Review Scores Value          24653 non-null  float64
dtypes: float64(10), int64(6), object(6)
memory usage: 4.3+ MB